@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #f9d502;
  --grey50: #9d9d9d;
  --grey100: #595959;
  --grey200: #302f37;
  --grey300: #333333;
  --bg-color: #404040;

  --primary-font: "Days One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --main-text-color: #9d9d9d;
}

/* button:hover {
  background-color: var(--link-hover-color);
  transform: scale(3) rotate(40deg);
}

button:active {
  background-color: var(--bg-color);
} */

.secondary-button {
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border: none;
  color: var(--grey100);
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 50%;
  list-style: none;
}

.secondary-button:hover {
  box-shadow: 0 0 5px var(--grey50);
  cursor: pointer;
}

.secondary-button:active {
  box-shadow: 0 0 5px var(--grey50);
  transform: translateY(4px);
}

.primary-button {
  background-color: var(--bg-color);
  width: 200px;
  height: 3rem;
  font-size: 1.3rem;
  color: var(--yellow);
  border-radius: 20px;
}

.primary-button:hover {
  box-shadow: 0 0 5px var(--grey50);
  cursor: pointer;
}

.primary-button:active {
  box-shadow: 0 0 5px var(--grey50);
  transform: translateY(4px);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* background-color: var(--bg-color); */
  background-image: url("/img/darkbackground.png");
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--grey300);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  letter-spacing: 0px;
  padding-right: 0.75em;
  font-weight: bold;
  color: var(--yellow);
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: var(--red);
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--orange);
}

.header-wrapper h4 {
  font-size: 0.8rem;
  color: var(--orange);
}

main {
  padding: calc(2 * var(--white-space));
  background-image: url("/img/darkbackground.png");
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--yellow);
}

.color-swatch-2 {
  background-color: var(--grey300);
}

.color-swatch-4 {
  background-color: var(--grey100);
}

.color-swatch-5 {
  background-color: var(--main-text-color);
}

.color-swatch-3 {
  background-color: var(--bg-color);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/texture1.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/texture4.png) center repeat;
  background-size: 110%;
}

.texture-swatch-1 {
  background: url(../img/texture1.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/texture3.png) top left repeat;
  background-size: 100%;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

/* button {
  padding: 1rem;
  border-radius: 4px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #0374a0;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
} */

/* .secondary-button {
  background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
} */

.typography-main {
  color: var(--grey50);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--yellow);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--grey50);
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--grey50);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  color: var(--yellow);
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
